<body>


  <app-header></app-header>

  <section
    class="inner-page-banner bg-common"
    data-bg-image="img/figure/inner-page-banner1.jpg"
  >
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="breadcrumbs-area">
            <h1>Contactez Nous</h1>
            <ul>
              <li>
                <a href="index.html">Home</a>
              </li>
              <li>Contact</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-page-wrap">
    <div class="contact-box-left">
      <div class="container">
        <div class="section-heading heading-dark">
          <h3 class="item-heading-big">Nos coordonnées</h3>
        </div>
        <p>Cake at home va vous répondre dans les meilleurs délai</p>
        <div class="contact-address">
          <ul>
            <li>
              <div class="item-icon"><i class="fas fa-map"></i></div>
              67 av Génerale de Gaulle, 77420 Champs sur Marne
            </li>
            <li>
              <div class="item-icon"><i class="far fa-envelope"></i></div>
              cakeathome@gmail.com
            </li>
            <li>
              <div class="item-icon"><i class="fas fa-phone"></i></div>
              +33 07 .. .. ..
            </li>
            <li>
              <div class="item-icon"><i class="fas fa-fax"></i></div>
              + 33 00 00 00 00
            </li>
          </ul>
        </div>
        <div class="section-heading heading-dark">
          <h3 class="item-heading-big">Ecrivez votre message ici</h3>
        </div>
        <form id="contact-form" class="contact-form-box">
          <div class="row">
            <div class="col-md-6 form-group">
              <input
                type="text"
                placeholder="nom *"
                class="form-control"
                name="name"
                data-error="Name field is required"
                required
              />
              <div class="help-block with-errors"></div>
            </div>
            <div class="col-md-6 form-group">
              <input
                type="email"
                placeholder="E-mail *"
                class="form-control"
                name="email"
                data-error="E-mail field is required"
                required
              />
              <div class="help-block with-errors"></div>
            </div>
            <div class="col-12 form-group">
              <input
                type="text"
                placeholder="Sujet *"
                class="form-control"
                name="subject"
                data-error="Subject field is required"
                required
              />
              <div class="help-block with-errors"></div>
            </div>
            <div class="col-12 form-group">
              <textarea
                placeholder="Votre message"
                class="textarea form-control"
                name="message"
                id="form-message"
                rows="7"
                cols="20"
                data-error="Message field is required"
                required
              ></textarea>
              <div class="help-block with-errors"></div>
            </div>
            <div class="col-12 form-group mb-0 mt-3">
              <button type="submit" class="item-btn">
                ENVOYEZ VOTRE MESSAGE
              </button>
            </div>
            <div class="form-response"></div>
          </div>
        </form>
      </div>
    </div>

    <div class="contact-box-right">
      <div class="google-map-wrap-layout1">
        <iframe
          src="https://maps.google.com/maps?q=48.850987%2C%202.590301&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
        ></iframe>
      </div>
    </div>
  </section>

  <app-footer></app-footer>
</body>
