<notifier-container></notifier-container>
<section class="h-100 gradient-form" style="background-color: #eee;">
 <div class="container py-5 h-100">
   <div class="row d-flex justify-content-center align-items-center h-100">
     <div class="col-xl-10">
       <div class="card rounded-3 text-black">
         <div class="row g-0">
           <div class="col-lg-6">
             <div class="card-body p-md-5 mx-md-4">

               <div class="text-center">
                 <img src="../../../assets/img/logo-light.png"
                   style="width: 185px;" alt="logo">
                                  <h3 class="mt-1 mb-5 pb-1">S'enregistrer</h3>
                              </div>

                              <!-- <h6 class="h5 mb-0">Bienvenue sur CAKE AT HOME</h6> -->
                              <p class="text-muted mt-2 mb-5">Entrez votre identifiant et mot de passe</p>


                              <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm.value)">

                                <div class="form-group">
                                  <label for="exampleInputFirstName">Prénom</label>
                                  <input type="text" class="form-control" name="firstname" placeholder="firstname" ngModel #firstNameInput="ngModel" required >
                                </div>
                                <span class="help-block" style="color:red;" *ngIf="firstNameInput.invalid && firstNameInput.touched">Veuillez entrer votre prénom</span>

                                <div class="form-group">
                                  <label for="exampleInputLastName">Nom</label>
                                  <input type="text" class="form-control" name="lastname" placeholder="lastname" ngModel #lastNameInput="ngModel" required >
                                </div>
                                <span class="help-block" style="color:red;" *ngIf="lastNameInput.invalid && lastNameInput.touched">Veuillez entrer votre nom</span>


                                <div class="form-group">
                                    <label for="username">Identifiant</label>
                                    <input type="text" class="form-control" name="username" placeholder="username" ngModel #usernameInput="ngModel" required >
                                </div>
                                <span class="help-block" style="color:red;" *ngIf="usernameInput.invalid && usernameInput.touched">Please enter a username</span>

                                <div class="form-group mb-5">
                                    <label for="exampleInputEmail">E-mail</label>
                                    <input type="text" class="form-control" id="exampleInputEmail" name="email" placeholder="Email" ngModel #emailInput= "ngModel" required>
                                    <span class="help-block" style="color:red;" *ngIf="emailInput.invalid && emailInput.touched">Please enter an email</span>
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputcity">Ville</label>
                                  <input type="text" class="form-control" id="exampleInputCity" name="city" placeholder="Ville" ngModel #cityInput= "ngModel" required>
                                  <span class="help-block" style="color:red;" *ngIf="cityInput.invalid && cityInput.touched">Entrer une ville</span>
                              </div>


                              <div class="form-group mb-5">
                                <label for="exampleInputgender">Genre</label>
                                <select class="form-control" id="exampleInputGender" name="gender" ngModel #genderInput="ngModel" required>
                                  <option value="">-- Choisir votre genre --</option>
                                  <option value="homme">Homme</option>
                                  <option value="femme">Femme</option>
                                </select>
                                <span class="help-block" style="color:red;" *ngIf="genderInput.invalid && genderInput.touched">Sélectionnez votre genre</span>
                              </div>




                                <div class="form-group mb-5">
                                  <label for="exampleInputPassword">Password</label>
                                  <input type="password" class="form-control" id="exampleInputPassword" name="password" placeholder="password" ngModel #passwordInput= "ngModel" required minlength="2">
                                  <span class="help-block" style="color:red;" *ngIf="passwordInput.invalid && passwordInput.touched">Please enter a password.</span>
                                </div>
                                <div class="form-group">
                                  <label for="confirmPassword">Confirm password</label>
                                  <input type="password" name="confirmPassword" required ngModel #confirmPasswordInput= "ngModel" class="form-control">
                                  <span class="help-block" style="color:red;" *ngIf="confirmPasswordInput.value !== passwordInput.value">le mot de passe ne corespond pas</span>
                                  <span class="help-block" style="color:green;" *ngIf="confirmPasswordInput.value == passwordInput.value">le mot de passe coresspond</span>
                                </div>

                                <button type="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" [disabled]="registerForm.invalid || showLoading">
                                    <i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>
                                    <span *ngIf="showLoading"> &nbsp;&nbsp;Chargement...</span>
                                    <span *ngIf="!showLoading">S'enregistrer</span>
                                </button>
                                <a href="#l" routerLink="/login" class="btn btn-outline-danger float-right " style="margin-left: 2em">Déjà enregistré ?</a>
                              </form>
                          </div>
                      </div>


                      <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                        <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                          <h3 class="mb-4">Cake At home site de recettes de gâteaux</h3>
                          <p class=" mb-0">Nous sommes ravis que vous souhaitiez nous rejoindre, profitez bien et surtout régalez vous. Bonne patisserie à tous.</p>
                        </div>
                        </div>



                  </div>

              </div>
              <!-- end card-body -->
          </div>
          <!-- end card -->

          <!-- <p class="text-muted text-center mt-3 mb-0">Don't have an account? <a routerLink="/register" href="register.html" class="text-primary ml-1">register</a></p> -->

          <!-- end row -->

      </div>
      <!-- end col -->
  </div>
  <!-- Row -->
</section>

