<header class="header-one">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">Cake At home</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a
              class="nav-link mx-2 active"
              aria-current="page"
              routerLink="/home"
              >Home</a
            >
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link mx-2 active dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Recettes
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item" routerLink="/recettesearch"
                  >Recherche de Recettes</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/recettelast"
                  >Dernieres Recettes ajouté</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/recettepopulaire"
                  >Recettes Populaire</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/recettetendance"
                  >Recettes Tendance</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/recetterandom"
                  >Recettes au Hasard</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/recettebynote"
                  >Recettes par note</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 active" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 active" routerLink="/user/management"
              >Panneau Admin</a
            >
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-action-perso">
            <a class="nav-link mx-2 active" routerLink="/profiluser"
              >Bienvenue {{ username }}</a
            >
          </li>
          <li class="nav-action-perso">
            <a class="nav-link mx-2 active" routerLink="/logout"
              >Deconnection</a
            >
          </li>
          <!-- <li class="nav-action-perso">
              <a class="nav-link mx-2 active" routerLink="/login">Connection
              </a>
          </li> -->
          <li class="nav-action-perso">
            <a routerLink="/postrecette" class="fill-btn"
              >Sousmettre une recette</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="site-logo">
    <a class=""
      ><img src="assets/img/logo-dark.png" alt="Site Logo"
    /></a>
  </div>
</header>
