
<body>

      <app-header></app-header>

      <notifier-container></notifier-container>

      <section class="inner-page-banner bg-common" data-bg-image="./assets/img/figure/inner-page-banner1.jpg">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="breadcrumbs-area">
                          <h1>Recette</h1>
                          <ul>
                              <li>
                                  <a href="index.html">Accueil</a>
                              </li>
                              <li>Recette Accueil</li>


                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </section>

      <section class="single-recipe-wrap-layout1 padding-top-74 padding-bottom-50">
          <div class="container">
              <div class="row gutters-60">
                  <div class="col-lg-8">
                      <div class="single-recipe-layout1">

                          <div class="ctg-name">{{recetteSelectionnee.categorierecette}}</div>


                          <h2 class="item-title">{{recetteSelectionnee.titrerecette}}</h2>
                          <div class="row mb-4">
                              <div class="col-xl-9 col-12">
                                  <ul class="entry-meta">
                                      <li class="single-meta"><a href="#"><i class="far fa-calendar-alt"></i>{{recetteSelectionnee.daterecette | date:'short'}}</a></li>
                                      <li class="single-meta"><a href="#"><i class="fas fa-user"></i>Recette proposé par  <span>{{ usernamerecette}}</span></a></li>
                                      <li class="single-meta">
                                        <ul class="item-rating">
                                          <ng-container *ngIf="recetteSelectionnee.notemoyenne">  <!--au cas ou la valeur est null-->
                                            <ngb-rating [(rate)]="recetteSelectionnee.notemoyenne" [readonly]="true" [max]="5" class="custom-size custom-color"></ngb-rating>
                                            <span class="rating-number">{{ recetteSelectionnee.notemoyenne | number: '1.2-2' }}</span>
                                          </ng-container>

                                        </ul>
                                    </li>
                                      <li class="single-meta">
                                        <a  (click)="incrementLikes()">
                                          <i class="fas fa-heart"></i>
                                          <span *ngIf="likesCount > 0">{{recette.nblike }}</span>
                                          Likes
                                        </a>
                                      </li>
                                  </ul>
                              </div>

                          </div>
                          <div class="item-figure">

                            <div class="site-img">
                              <ul ><img  src="http://localhost:8085/images/{{affichegallerie[0].galleriefilename}}" alt=""  ></ul>


                          </div>
                          </div>
                          <div class="item-feature">
                              <ul>
                                  <li>
                                      <div class="feature-wrap">
                                          <div class="media">
                                              <div class="feature-icon">
                                                  <i class="far fa-clock"></i>
                                              </div>
                                              <div class="media-body space-sm">
                                                  <div class="feature-title">PREP TIME</div>
                                                  <div class="feature-sub-title">{{recetteSelectionnee.tempspreparationrecette}}</div>
                                              </div>
                                          </div>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="feature-wrap">
                                          <div class="media">
                                              <div class="feature-icon">
                                                  <i class="fas fa-utensils"></i>
                                              </div>
                                              <div class="media-body space-sm">
                                                  <div class="feature-title">COOK TIME</div>
                                                  <div class="feature-sub-title">{{recetteSelectionnee.tempscuissonrecette}}</div>
                                              </div>
                                          </div>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="feature-wrap">
                                          <div class="media">
                                              <div class="feature-icon">
                                                  <i class="fas fa-users"></i>
                                              </div>
                                              <div class="media-body space-sm">
                                                  <div class="feature-title">SERVING</div>
                                                  <div class="feature-sub-title">{{recetteSelectionnee.nbpersonnerecette}}</div>
                                              </div>
                                          </div>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="feature-wrap">
                                          <div class="media">
                                              <div class="feature-icon">
                                                  <i class="far fa-eye"></i>
                                              </div>
                                              <div class="media-body space-sm">
                                                  <div class="feature-title">VIEWS</div>
                                                  <div class="feature-sub-title">{{recetteSelectionnee.nbvuerecette}}</div>
                                              </div>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                          </div>

                          <div class="section-heading heading-dark">
                            <h2 class="item-heading">Description</h2>
                        </div>
                        <p class="section-paragraph">{{recetteSelectionnee.descriptionrecette}}</p>
                          <div class="making-elements-wrap">
                              <div class="row">
                                  <div class="col-xl-6 col-12">
                                      <div class="ingridients-wrap">
                                          <h3 class="item-title"><i class="fas fa-list-ul"></i>Ingredients</h3>

                                          <div class="checkbox checkbox-primary" *ngFor="let ingredient of list">
                                              <input id="checkbox1" type="checkbox">
                                              <label for="checkbox1">{{ ingredient.quantiteingredient}}</label>
                                          </div>


                                      </div>
                                  </div>
                                  <div class="col-xl-6 col-12">

                                  </div>
                              </div>
                          </div>

                          <div class="direction-wrap-layout1">


                              <div class="direction-box-layout1"  *ngFor="let e of affichetape">
                                  <div class="item-figure">

                                  </div>
                                  <div class="item-content">
                                      <div class="serial-number">etape : {{ e.numeroetape}}</div>
                                      <p>{{ e.instructionsetape}}</p>
                                  </div>
                              </div>

                          </div>

                          <div class="recipe-reviews">
                            <div class="section-heading heading-dark">
                                <h2 class="item-heading">Avis commentaire et note sur la recette</h2>
                            </div>
                            <div class="avarage-rating-wrap">
                                <div class="avarage-rating">Note Moyenne :
                                  <ngb-rating [(rate)]="moyenne" [readonly]="true" [max]="5" class="custom-size custom-color"></ngb-rating>
                                    <span class="rating-number">{{ moyenne | number: '1.2-2' }}</span>
                                </div>
                                <div class="total-reviews">Nombre total de note: <span class="review-number">{{commentairesRecette.length}}</span></div>
                            </div>
                            <ul>
                                <li class="reviews-single-item">
                                    <div class="media media-none--xs" *ngFor="let item of commentaireaffiche">

                                        <div class="media-body">
                                            <h4 class="comment-title"  *ngIf="item.idrecette==idrecetteselectionner">{{item.username}}</h4>
                                            <span class="post-date"  *ngIf="item.idrecette==idrecetteselectionner">{{item.datecommentaire | date:'short' }}</span>
                                            <p  *ngIf="item.idrecette==idrecetteselectionner">{{item.commentaire}}</p>
                                             <ul class="item-rating">
                                              <ng-container *ngIf="item.idrecette==idrecetteselectionner">  <!--au cas ou la valeur est null-->
                                                <ngb-rating [(rate)]="item.notecommentaire" [readonly]="true" [max]="5" class="custom-size custom-color"></ngb-rating>
                                                <span class="rating-number">{{item.notecommentaire | number: '1.2-2' }}</span>
                                              </ng-container>
                                            </ul>

                                        </div>
                                    </div>
                                </li>

                              </ul>
                          </div>
                          <div class="leave-review">
                              <div class="section-heading heading-dark">
                                  <h2 class="item-heading">Laissez un commentaire et/ou une note a la recette </h2>
                              </div>
                                     <div class="rate-wrapper">

                                  <div class="custom-rating" >note

                                    <ngb-rating [(rate)]="currentRate" [max]="5"  (rateChange)="onRateChange($event)" class="custom-size custom-color"></ngb-rating>
                                    &nbsp; &nbsp;&nbsp;
                                    <span>La note donnée à cette recette est {{currentRate}}/5</span>
                                  </div>
                              </div>
                               <form class="leave-form-box" [formGroup]="formaddCommentaire" (ngSubmit)="create() " action="post">
                                  <div class="row">
                                      <div class="col-12 form-group">
                                          <label>Votre commentaire :</label>
                                          <textarea placeholder="Selectionnez avec la souris les etoiles pour mettre une note et/ou ecrivez ici vos commentaires sur la recette" class="textarea form-control" name="commentaire" id="commentaire" formControlName="commentaire" data-length="255" rows="7"
                                              cols="20" data-error="Message field is required" required></textarea>
                                          <div class="help-block with-errors"></div>
                                      </div>

                                      <div class="col-12 form-group mb-0">
                                          <button type="submit" class="item-btn">POST REVIEW</button>

                                      </div>
                                  </div>
                                  <div class="form-response"></div>
                              </form>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 sidebar-widget-area sidebar-break-md">
                    <!-- <app-lastrecipes></app-lastrecipes> -->

                      <div class="widget">

                      </div>
                      <div class="widget">

                          <div class="widget-featured-feed">

                          </div>
                      </div>
                      <div class="widget">

                      </div>
                      <div class="widget">

                         <app-categorie></app-categorie>
                      </div>
                      <div class="widget">


                      </div>
                  </div>
              </div>
          </div>
      </section>

        <app-footer></app-footer>
    