
<app-header></app-header>
<section class="recipe-without-sidebar-wrap padding-top-80 padding-bottom-22">
   <form class="submit-recipe-form">
     <div class="container" >
        <div class="row" >
           <div class="col-lg-4 col-md-6 col-sm-6 col-12" *ngFor="let recette of noteRecettes.slice(debutnombrecetteaffichees, nombreRecettesAffichees); let i=index">
               <div class="product-box-layout1" >
                   <figure class="item-figure">
                      <div class="site-img">
                          <a *ngFor="let g of gallerie" [routerLink]="['/recette',recette.idrecette]">
                           <img *ngIf="g.idrecette == recette.idrecette"  src="http://localhost:8085/images/{{g.galleriefilename}}" alt="Post"  >
                          </a>
                       </div>
                    </figure>
                      <div class="item-content">
                          <span class="sub-title">{{recette.categorierecette}}</span>
                           <h3 class="item-title"><a>{{recette.titrerecette}}</a></h3>
                           <ul class="item-rating">
                              <ng-container *ngIf="recette.notemoyenne">  <!--au cas ou la valeur est null-->
                                 <ngb-rating [(rate)]="recette.notemoyenne" [readonly]="true" [max]="5" class="custom-size custom-color"></ngb-rating>
                                 <span class="rating-number">{{ recette.notemoyenne | number: '1.2-2' }}</span>
                               </ng-container>
                           </ul>
                              <p>{{recette.descriptionrecette}}</p>
                              <ul class="entry-meta">
                                  <li><a href="#"><i class="fas fa-clock"></i>{{recette.tempspreparationrecette}}</a></li>
                                  <li><a href="#"><i class="fas fa-user"></i>Par <span>{{recette.username}}</span></a></li>
                                  <li><a href="#"><i class="fas fa-heart"></i><span>{{recette.nblike}}</span> Likes</a></li>
                              </ul>
                       </div>
                 </div>
             </div>
<div></div>
             <div class="col-6">
              <button  type="button" class="btn-submit" (click)="afficherMoins()"><i class="flaticon-add-plus-button"></i>Page Précedente</button>
                </div>
                  <div class="col-6">
                 <button  type="button" class="btn-submit" (click)="afficherPlus()"><i class="flaticon-add-plus-button"></i>Page Suivante</button>
                  </div>
            </div>

      </div>

</form>
      </section>




