<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/utilisateur" >utilisateur</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/abonnement" >abonnement</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/listrecette" >recette</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/commentaire"   >commentaire</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/etape"   >etape</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/ingredient"   >ingredient</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/recetteingredient"   >recetteingredient</a>
  </li>

</ul>
<br>
<br>
<H2 class="text-center">Editer une etape</H2>
<div class="container border">
    <form [formGroup]="editetapeForm" (ngSubmit)="update()">
        <div class="form-group">
            <div class="input-field col s16">
                <label for="idetape">  idetape</label>
                <input type="text" name="" id="idetape" class="form-control" formControlName="idetape" data-length="10">
            </div>
            <div class="input-field col s16">
                <label for="numeroetape">numeroetape</label>
                <input type="text" name="" id="numeroetape" class="form-control" formControlName="numeroetape" data-length="100">
            </div>
            <div class="input-field col s16">
              <label for="instructionsetape"> instructionsetape</label>
              <input type="text" name="" id="instructionsetape" class="form-control" formControlName="instructionsetape" data-length="100">
            </div>
            <div class="input-field col s16">
              <label for="imageetape">imageetape</label>
              <input type="text" name="" id="imageetape" class="form-control" formControlName="imageetape" data-length="100">
            </div>
            <div class="input-field col s16">
              <label for="idrecette"> idrecette</label>
              <input type="text" name="" id="idrecette" class="form-control" formControlName="idrecette" data-length="100">
            </div>

        </div>
        <button class="btn btn-success" type="submit">Soumettre</button>
    </form>
    <br>
</div>
{{editetapeForm.value | json}}
