<header class="header-one">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <div class="container-fluid">
      <a class="navbar-brand"  routerLink="/user/management">Retour Gestion des Utilisateur</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page" routerLink="/abonnement" >abonnement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page" routerLink="/listrecette" >recette</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page"  routerLink="/commentaire"   >commentaire</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page"  routerLink="/etape"   >etape</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page" routerLink="/ingredient"   >ingredient</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<br>
<br>
<H2 class="text-center">Editer une etape</H2>
<div class="container border">
    <form [formGroup]="editetapeForm" (ngSubmit)="update()">
        <div class="form-group">
            <div class="input-field col s16">
                <label for="idetape">idetape</label>
                <input type="text" name="" id="idetape" class="form-control" formControlName="idetape" data-length="10">
            </div>
            <div class="input-field col s16">
                <label for="numeroetape">numeroetape</label>
                <input type="text" name="" id="numeroetape" class="form-control" formControlName="numeroetape" data-length="100">
            </div>
            <div class="input-field col s16">
              <label for="instructionsetape"> instructionsetape</label>
              <input type="text" name="" id="instructionsetape" class="form-control" formControlName="instructionsetape" data-length="100">
            </div>
            <!-- <div class="input-field col s16">
              <label for="imageetape">imageetape</label>
              <input type="text" name="" id="imageetape" class="form-control" formControlName="imageetape" data-length="100">
            </div> -->
            <div class="input-field col s16">
              <label for="idrecette"> idrecette</label>
              <input type="text" name="" id="idrecette" class="form-control" formControlName="idrecette" data-length="100">
            </div>

        </div>
        <button class="btn btn-success" type="submit">Soumettre</button>
    </form>
    <br>
</div>
{{editetapeForm.value | json}}
