/* .table {
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ccc;
  padding: 8px;
}
/* Lignes horizontales */
/* .datatable-row-wrapper:before {
  content: "";
  display: block;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  width: calc(100% - 30px);
  margin: 0 15px;
  top: 0;
  left: 0;
}


.datatable-row-wrapper {
  border-left: 1px solid #ccc;
}
.datatable-body-cell {
  border-right: 1px solid #ccc;
}

 */
.ngx-datatable.bootstrap {
  border-collapse: collapse;
}

.ngx-datatable.bootstrap td, .ngx-datatable.bootstrap th {
  border: 5px solid black;
  padding: 5px;
}






