<header class="header-one">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <div class="container-fluid">
      <a class="navbar-brand"  routerLink="/user/management">Retour Gestion des Utilisateur</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page" routerLink="/abonnement" >abonnement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page" routerLink="/listrecette" >recette</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page"  routerLink="/commentaire"   >commentaire</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page"  routerLink="/etape"   >etape</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page" routerLink="/ingredient"   >ingredient</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<br>
<br>
<H2 class="text-center">Créer une Recette</H2>
<div class="container border">
    <form [formGroup]="formaddRecette" (ngSubmit)="create()">
        <div class="form-group">
            <div class="input-field col s16">
                <label for="uid"> uid</label>
                <input type="text" name="" id="uid" class="form-control" formControlName="uid" data-length="10">
            </div>
            <div class="input-field col s16">
                <label for="titrerecette"> titrerecette</label>
                <input type="text" name="" id="titrerecette" class="form-control" formControlName="titrerecette" data-length="100">
            </div>
            <div class="input-field col s16">
              <label for="daterecette"> daterecette</label>
              <input type="text" name="" id="daterecette" class="form-control" formControlName="daterecette" data-length="100">
            </div>
            <div class="input-field col s16">
              <label for="descriptionrecette">descriptionrecette</label>
              <input type="text" name="" id="descriptionrecette" class="form-control" formControlName="descriptionrecette" data-length="100">
            </div>
            <div class="input-field col s16">
              <label for="categorierecette"> categorierecette</label>
              <input type="text" name="" id="categorierecette" class="form-control" formControlName="categorierecette" data-length="100">
            </div>
            <div class="input-field col s16">
              <label for="niveaudifficulterecette"> niveaudifficulterecette</label>
              <input type="text" name="" id="niveaudifficulterecette" class="form-control" formControlName="niveaudifficulterecette" data-length="100">
            </div>
            <div class="input-field col s16">
              <label for="tempspreparationrecette"> tempspreparationrecette</label>
              <input type="text" name="" id="tempspreparationrecette" class="form-control" formControlName="tempspreparationrecette" data-length="100">
            </div>
            <div class="input-field col s16">
              <label for="tempscuissonrecette"> tempscuissonrecette</label>
              <input type="text" name="" id="tempscuissonrecette" class="form-control" formControlName="tempscuissonrecette" data-length="100">
            </div>

            <div class="input-field col s16">
              <label for="tempstotalrecette"> tempstotalrecette</label>
              <input type="text" name="" id="tempstotalrecette" class="form-control" formControlName="tempstotalrecette" data-length="100">
            </div>
            <div class="input-field col s16">
              <label for="nbpersonnerecette"> nbpersonnerecette</label>
              <input type="text" name="" id="nbpersonnerecette" class="form-control" formControlName="nbpersonnerecette" data-length="100">
            </div>
            <div class="input-field col s16">
              <label for="recettepremiumrecette"> recettepremiumrecette</label>
              <input type="text" name="" id="recettepremiumrecette" class="form-control" formControlName="recettepremiumrecette" data-length="100">
            </div>

            <!-- <div class="input-field col s16">
              <label for="idingredient"> idingredient</label>
              <input type="text" name="" id="idingredient" class="form-control" formControlName="idingredient" data-length="100">
            </div> -->

            <!-- <div class="input-field col s16">
              <label for="quantiteingredient"> quantiteingredient</label>
              <input type="text" name="" id="quantiteingredient" class="form-control" formControlName="quantiteingredient" data-length="100">
            </div> -->

        </div>
        <button class="btn btn-success" type="submit">Soumettre</button>
    </form>
    <br>
</div>
{{formaddRecette.value | json}}
